@model List<Post>

<div class="container">
    <hr>
    <p>Hello @Context.Session.GetString("UserName"), thank you for visiting today.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Topic</th>
                <th scope="col">Author</th>
                <th scope="col">Posted At</th>
                <th scope="col">Likes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Post post in Model)
            {
                <tr>
                    <th scope="row"><a asp-controller="Forum" asp-action="Details"
                        asp-route-postId="@post.PostId">@post.Topic</a></th>
                    <td>@post.Author.UserName</td>
                    <td>@post.CreatedAt</td>
                    <td>@post.Likes.Count</td>
                </tr>
            }
        </tbody>
    </table>
    <hr>
    @if (@Context.Session.GetInt32("UserId") != null)
    {
        <p class="text-center"><a href="/forum/post/new"><button class="btn btn-sm btn-outline-dark">Create New
                    Post</button></a></p>
    }
</div>